.searchContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.searchContainer > input {
  outline: none;
  padding: 10px;
  min-width: 100px;
  width: 500px;
  border-radius: 5px;
}
