.container {
  border: none;
  border-radius: 15px;
  height: auto;
  max-height: 70vh;
  min-height: 50vh;
  overflow-y: auto;
  width: 90%;
  max-width: 480px;
  margin: 0 auto;
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  position: relative;

  -webkit-box-shadow:
    0px 20px 0px -10px #eaeaea,
    0px -20px 0px -10px #eaeaea,
    20px 0px 0px -10px #eaeaea,
    -20px 0px 0px -10px #eaeaea,
    0px 0px 0px 10px #0414f9,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow:
    0px 20px 0px -10px #eaeaea,
    0px -20px 0px -10px #eaeaea,
    20px 0px 0px -10px #eaeaea,
    -20px 0px 0px -10px #eaeaea,
    0px 0px 0px 10px #999999,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.inner {
  padding-top: 10%;
  text-align: center;
}
.popUpSearch {
  border: 2px solid rgb(164, 164, 164);
  padding: 10px 5px;
  border-radius: 5px;
  width: 95%;
  min-width: 100px;
  height: auto;
  max-height: 70px;
  font-size: 18px;
  margin-top: 20px;
}
form > .button {
  font-size: 18px;
  text-align: center;
  padding: 10px 0;
  width: 95%;
  border: 1px solid #fff;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  border: 2px solid rgb(3, 3, 3);
  border-radius: 5px;
  margin-top: 20px;
}

form > .button:before {
  content: "";
  position: absolute;
  height: 150px;
  width: 30px;
  background: #4b4b4b;
  left: -35px;
  top: -50px;
  transform: rotate(37deg);
  transition: all 0.3s;
  opacity: 0.3;
}
form > .button:hover:before {
  left: 99%;
}

.system {
  display: flex;
  justify-content: center;
}
.system > h1 {
  margin-top: 10px;
  font-size: 6vmin;
}

.show {
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  right: 3%;
  top: 50%;
}

.inr {
  display: inline-block;
  position: relative;
  width: 95%;
}

.inr > .popUpSearch {
  width: 100%;
  padding-right: 35px;
  box-sizing: border-box;
}

.searchBtn {
  border: 2px solid rgb(164, 164, 164);
  padding: 10px 5px;
  border-radius: 5px;
  width: 95%;
  min-width: 100px;
  max-height: 70px;
  font-size: 18px;
}
