.searchContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.searchContainer > input {
  outline: none;
  padding: 10px 20px;
  min-width: 100px;
  color: white;
  width: 500px;
  border-radius: 50px;
  border: 1px solid blueviolet;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}
