.container {
  /* height: 100vh; */
  padding: 5px 10px;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.inrContainer {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 100px;
  width: 530px;
  padding: 20px 20px;
  border: 1px solid rgba(123, 60, 182, 0.39);
}
.heading {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.form > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.signupInputs {
  padding: 8px 15px;
  border: 1px solid rgba(123, 60, 182, 0.39);
  width: 230px;
  font-size: 15px;
  border-radius: 4px;
  outline: none;
  background-color: rgba(123, 60, 182, 0.39);
  color: white;
}

.roleDiv {
  margin-top: 20px;
}
.roleBoxes {
  border: 2px solid rgba(123, 60, 182, 0.39);
  background-color: rgba(123, 60, 182, 0.39);
  height: 120px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.roleBoxes:hover {
  border: 2px solid rgba(194, 141, 244, 0.39);
}

.roleDivInr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

.signupBtn {
  font-size: 18px;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  border: 2px solid rgba(123, 60, 182, 0.39);
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  background-color: rgba(123, 60, 182, 0.39);
  color: white;
  margin-top: 20px;
}

.signupBtn:before {
  content: "";
  position: absolute;
  height: 150px;
  width: 30px;
  background: #9b9a9a;
  left: -35px;
  top: -50px;
  transform: rotate(37deg);
  transition: all 0.3s;
  opacity: 0.3;
}

form > .signupBtn:hover:before {
  left: 99%;
}

.profilePic {
  border: 1px solid rgba(123, 60, 182, 0.39);
  height: 100px;
  width: 100px;
  margin: 0 auto 20px auto;
  border-radius: 50%;
  display: flex;
  background-color: rgba(123, 60, 182, 0.39);
  justify-content: center;
  opacity: 1;
  align-items: center;
  cursor: pointer;
}
.secondDivs {
  margin-top: 20px;
  position: relative;
}
.secondDivs > p {
  margin-bottom: 5px;
}

.signupInputs1 {
  padding: 8px 15px;
  border: 1px solid rgba(123, 60, 182, 0.39);
  width: 100%;
  font-size: 15px;
  border-radius: 4px;
  outline: none;
  color: white;
  background-color: rgba(123, 60, 182, 0.39);
}

.roleDiv > p {
  margin-bottom: 5px;
}
.name > p {
  margin-bottom: 5px;
}

.showPassword {
  position: absolute;
  right: 3%;
  top: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.profilePic:hover .pick {
  font-size: 30px;
  transition: 0.2s;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}
