.topicSection {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}
.otrLabel {
  width: 100%;
  position: relative;
}
.inrLabel {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.topicCard {
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-top: 30px;
  border: 1px solid rgba(109, 44, 169, 0.652);
  box-shadow: 0 0px 10px rgba(44, 44, 179, 0.402);
  padding: 10px;
}
.topicHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.label {
  color: #9ca3af;
  font-size: 14px;
}

.topicCard h2 {
  margin-top: 8px;
  font-size: 30px;
}

.topicBottom {
  margin-top: 24px;
}

.checkboxArea {
  display: flex;
  gap: 12px;
  align-items: center;
  position: absolute;
  top: 40px;
  right: 0;
}
